### 02-Nov-2020 Data Analysis Lecture 4

#### Chapter 2
#### Topic 2.1

In [78]:
import pandas as pd

std_data = pd.read_excel('Student2.xlsx')

sales_data = pd.read_excel('Sales_Data.xlsx')

print(std_data)
print()
print(sales_data)

     NAME Disable  Sep_Rep Remarks
0     Ali     Yes       28    Fail
1  Rashid      No       34    Fail
2   Falak      No       33    Pass
3  Sohaib     Yes       31    Pass
4   Ammar      No       23    Fail
5  Tayyab     Yes       33    Pass
6  Rashid     Yes       34    Pass
7     Ali     Yes       34    Pass

         Zone  Tot_Sales  pop_covered Target_Ach
0      Punjab         28         30.0        Yes
1         KPK         34         40.0         No
2       Sindh         33         20.0        Yes
3         KPK         10          NaN         No
4      Punjab         31         20.0        Yes
5  Blochistan         23         30.0        Yes
6         KPK         33         10.0        NaN
7      Punjab          5          NaN         No
8          GB         34         20.0        Yes
9      Punjab         34         20.0        Yes

In [85]:
#list of filenames

files = ['Student2.xlsx','Sales_Data.xlsx']

# emptylist for data frames
df_files = []


#reading each file from above list of filenames and appending them.
#They will work like list of dataframes.

for file in files:
    df_files.append(pd.read_excel(file))
#     df_files.append(pd.read_csv(file))

print(df_files[0])
# print(df_files)

     NAME Disable  Sep_Rep Remarks
0     Ali     Yes       28    Fail
1  Rashid      No       34    Fail
2   Falak      No       33    Pass
3  Sohaib     Yes       31    Pass
4   Ammar      No       23    Fail
5  Tayyab     Yes       33    Pass
6  Rashid     Yes       34    Pass
7     Ali     Yes       34    Pass

In [3]:
#list of filenames contianing different file extensions

files = ['Student2.xlsx','Data2.csv']

df_mul_files = []
for file in files:
    #find(): if substring found it'll return substring starting index, else it'll return -1
    if(file.find(".xlsx") > 0):
         df_files.append(pd.read_excel(file))
    else:
         
        df_files.append(pd.read_csv(file))


print(df_files[0])
print()
print(df_files[1])
# print(df_files)

     NAME Disable  Sep_Rep Remarks
0     Ali     Yes       28    Fail
1  Rashid      No       34    Fail
2   Falak      No       33    Pass
3  Sohaib     Yes       31    Pass
4   Ammar      No       23    Fail
5  Tayyab     Yes       33    Pass
6  Rashid     Yes       34    Pass
7     Ali     Yes       34    Pass

         Zone  Tot_Sales  pop_covered Target_Ach
0      Punjab         28         30.0        Yes
1         KPK         34         40.0         No
2       Sindh         33         20.0        Yes
3         KPK         10          NaN         No
4      Punjab         31         20.0        Yes
5  Blochistan         23         30.0        Yes
6         KPK         33         10.0        NaN
7      Punjab          5          NaN         No
8          GB         34         20.0        Yes
9      Punjab         34         20.0        Yes

In [87]:

file = "Student2.xlsx"

#find(): if found, it'll return substring starting index, else it'll return -1
x = file.find(".xlsx")
print(x)

8

In [88]:
#copying a whole dataframe to other dataframe
sales = sales_data.copy()
print(sales)

#creating a new labelnames (column names) of dataframe
# creating a new list of labels
new_labels = ['Area','tot_sales','population','Tar_hit']

# changning the existing column labels with new columns lables
sales.columns = new_labels
print(sales)

         Zone  Tot_Sales  pop_covered Target_Ach
0      Punjab         28         30.0        Yes
1         KPK         34         40.0         No
2       Sindh         33         20.0        Yes
3         KPK         10          NaN         No
4      Punjab         31         20.0        Yes
5  Blochistan         23         30.0        Yes
6         KPK         33         10.0        NaN
7      Punjab          5          NaN         No
8          GB         34         20.0        Yes
9      Punjab         34         20.0        Yes
         Area  tot_sales  population Tar_hit
0      Punjab         28        30.0     Yes
1         KPK         34        40.0      No
2       Sindh         33        20.0     Yes
3         KPK         10         NaN      No
4      Punjab         31        20.0     Yes
5  Blochistan         23        30.0     Yes
6         KPK         33        10.0     NaN
7      Punjab          5         NaN      No
8          GB         34        20.0     Yes
9      Punjab         34        20.0     Yes

In [90]:
#adding a new column in sales
sales['Area_Manager'] = sales_data['Zone']

#another way of adding a new column
#create a list of values of required column. if values are less, it will give length mismatch error.
focal_person = ['Ali','Ahmed','Shehroz','Sohaib','Khalid','Abdur Raheem', 'Shokaib','Usman','Imran','Jaleel']

#creating a new column and assiging new values to that column in dataframe.
sales['Focal_Person'] = focal_person
print(sales)

         Area  tot_sales  population Tar_hit Area_Manager  Focal_Person
0      Punjab         28        30.0     Yes       Punjab           Ali
1         KPK         34        40.0      No          KPK         Ahmed
2       Sindh         33        20.0     Yes        Sindh       Shehroz
3         KPK         10         NaN      No          KPK        Sohaib
4      Punjab         31        20.0     Yes       Punjab        Khalid
5  Blochistan         23        30.0     Yes   Blochistan  Abdur Raheem
6         KPK         33        10.0     NaN          KPK       Shokaib
7      Punjab          5         NaN      No       Punjab         Usman
8          GB         34        20.0     Yes           GB         Imran
9      Punjab         34        20.0     Yes       Punjab        Jaleel

In [95]:
import pandas as pd
# ind_data = pd.read_excel('Sales_Data.xlsx', index_col = 'Zone')
ind_sd = sales_data.set_index('Zone')
# print(ind_sd)

#sorting index, by default ascending=True
print(ind_sd.sort_index().head())

#sorting index descending
print(ind_sd.sort_index(ascending=False).head())

#sorting by values
print(ind_sd.sort_values('pop_covered', ascending=True).head())

            Tot_Sales  pop_covered Target_Ach
Zone
Blochistan         23         30.0        Yes
GB                 34         20.0        Yes
KPK                34         40.0         No
KPK                10          NaN         No
KPK                33         10.0        NaN
        Tot_Sales  pop_covered Target_Ach
Zone
Sindh          33         20.0        Yes
Punjab         28         30.0        Yes
Punjab         31         20.0        Yes
Punjab          5          NaN         No
Punjab         34         20.0        Yes
        Tot_Sales  pop_covered Target_Ach
Zone
KPK            33         10.0        NaN
Sindh          33         20.0        Yes
Punjab         31         20.0        Yes
GB             34         20.0        Yes
Punjab         34         20.0        Yes

In [101]:
import pandas as pd

sd = pd.read_excel('Sales_Data.xlsx')
# print(sd)

print(sd.shape)

sd_clean = sd.dropna()

print(sd_clean.shape)

# print(sd_clean)
sd_cleanest = sd_clean.drop_duplicates('Zone')

print(sd_cleanest.shape)

(10, 4)
(7, 4)
(5, 4)

In [105]:
import pandas as pd

df_data3 = pd.read_csv('Data3.csv', index_col ='Country')
# print(data3)

#storing only two columns in new_data
new_data = df_data3[['gold','silver']]
print(new_data)

# manipulated_data = new_data + 1
# print(manipulated_data)

manipulated_data = ((new_data + 4) / 2) * 2

print(manipulated_data)

         gold  silver
Country
Qatar     200       0
Turkey    400       1
Dubai     600       2
Europe    800       3
UK          0       4
          gold  silver
Country
Qatar    204.0     4.0
Turkey   404.0     5.0
Dubai    604.0     6.0
Europe   804.0     7.0
UK         4.0     8.0

In [10]:
#changing columns after manipulation

manipulated_data.columns = manipulated_data.columns.str.replace('gold', 'mani_gold_val')
manipulated_data.columns = manipulated_data.columns.str.replace('silver','mani_sil_val')
print(manipulated_data)

         mani_gold_val  mani_sil_val
Country
Qatar            204.0           4.0
Turkey           404.0           5.0
Dubai            604.0           6.0
Europe           804.0           7.0
UK                 4.0           8.0

In [107]:
import pandas as pd

#we can access data but can't play without parse_date=True with date indivitually, like just playing with year, day or month
metal_data = pd.read_csv('Data3.csv', index_col = 'date')
# print(metal_data)

after2014 = metal_data.loc['2015':'2017']
print(after2014)

#with parse_dates=True
metal_data2 = pd.read_csv('Data3.csv', parse_dates=True, index_col = 'date')
after2015 = metal_data2.loc['2015':'2017']
# after2015 = metal_data.loc['2014-01-01':'2017-04-04']
print(type(after2015))

           Country  gold  silver
date
2015-02-02  Turkey   400       1
2016-03-03   Dubai   600       2

### 03-Nov-2020 Data Analysis Lecture 5
#### Chapter 2
#### Topic 2.1

In [12]:
import pandas as pd

data2 = pd.read_csv('Data2.csv')
data3 = pd.read_csv('Data3.csv')

print(data2.head())
print(data3.head())

   Country  cpc  drive_right Purchased   pop
0   France   44         True        No  10.0
1    Spain   27        False       Yes  20.0
2  Germany   30         True        No  30.0
3    Spain   38        False        No  20.0
4  Germany   40         True       Yes  30.0
  Country  gold  silver        date
0   Qatar   200       0  2014-01-01
1  Turkey   400       1  2015-02-02
2   Dubai   600       2  2016-03-03
3  Europe   800       3  2017-04-04
4      UK     0       4  3017-05-05

In [13]:
#conctinating single column from each dataframe
cpc = data2['cpc']
gold = data3['gold']

#appending two columns vertically
append_verti = cpc.append(gold,ignore_index=True)
print(append_verti)
# print(type(append_verti))

0      44
1      27
2      30
3      38
4      40
5      35
6      52
7      48
8      45
9      12
10     10
11    200
12    400
13    600
14    800
15      0
dtype: int64

In [14]:
#combining multiple columns from dataframes

cpc = data2['cpc']
country2 = data2['Country']
gold = data3['gold']
country3 = data3['Country']

units = []

for data in [country2,cpc,country3,gold]:
#     print(type(data))     #Question?
    units.append(data)

# print(type(units))
# q1 = pd.concat(units, axis = 'rows')
# print(q1)
# print(type(q1))


q2 = pd.concat(units, axis = 'columns')
print(q2)
print(type(q2))

     Country  cpc Country   gold
0     France   44   Qatar  200.0
1      Spain   27  Turkey  400.0
2    Germany   30   Dubai  600.0
3      Spain   38  Europe  800.0
4    Germany   40      UK    0.0
5     France   35     NaN    NaN
6      China   52     NaN    NaN
7      India   48     NaN    NaN
8    America   45     NaN    NaN
9     Canada   12     NaN    NaN
10  Pakistan   10     NaN    NaN
<class 'pandas.core.frame.DataFrame'>

In [15]:
#concatinating two dataframes with one same column : append() method
cpc = data2[['Country','cpc']]
# print(type(cpc))

gold = data3[['Country','gold']]
# print(type(gold))


combined_df = cpc.append(gold, ignore_index=True)
print(combined_df)
# print(type(combined_df))

     Country   cpc   gold
0     France  44.0    NaN
1      Spain  27.0    NaN
2    Germany  30.0    NaN
3      Spain  38.0    NaN
4    Germany  40.0    NaN
5     France  35.0    NaN
6      China  52.0    NaN
7      India  48.0    NaN
8    America  45.0    NaN
9     Canada  12.0    NaN
10  Pakistan  10.0    NaN
11     Qatar   NaN  200.0
12    Turkey   NaN  400.0
13     Dubai   NaN  600.0
14    Europe   NaN  800.0
15        UK   NaN    0.0

In [16]:
#concatinating two dataframes with one same column : pd.concat()

frames = [cpc,gold]         #iterable pandas object
result = pd.concat(frames)

print(result)

     Country   cpc   gold
0     France  44.0    NaN
1      Spain  27.0    NaN
2    Germany  30.0    NaN
3      Spain  38.0    NaN
4    Germany  40.0    NaN
5     France  35.0    NaN
6      China  52.0    NaN
7      India  48.0    NaN
8    America  45.0    NaN
9     Canada  12.0    NaN
10  Pakistan  10.0    NaN
0      Qatar   NaN  200.0
1     Turkey   NaN  400.0
2      Dubai   NaN  600.0
3     Europe   NaN  800.0
4         UK   NaN    0.0

In [17]:
import pandas as pd

#two completly distinct dataframes
sales_data = pd.read_excel('Sales_data.xlsx')
std_data = pd.read_excel('Student2.xlsx')

print(sales_data.head())
print(std_data.head())

     Zone  Tot_Sales  pop_covered Target_Ach
0  Punjab         28         30.0        Yes
1     KPK         34         40.0         No
2   Sindh         33         20.0        Yes
3     KPK         10          NaN         No
4  Punjab         31         20.0        Yes
     NAME Disable  Sep_Rep Remarks
0     Ali     Yes       28    Fail
1  Rashid      No       34    Fail
2   Falak      No       33    Pass
3  Sohaib     Yes       31    Pass
4   Ammar      No       23    Fail

In [18]:
#combining two completly distinct dataframes with append() method
combined_df = sales_data.append(std_data, ignore_index=True)
print(combined_df)

          Zone  Tot_Sales  pop_covered Target_Ach    NAME Disable  Sep_Rep  \
0       Punjab       28.0         30.0        Yes     NaN     NaN      NaN
1          KPK       34.0         40.0         No     NaN     NaN      NaN
2        Sindh       33.0         20.0        Yes     NaN     NaN      NaN
3          KPK       10.0          NaN         No     NaN     NaN      NaN
4       Punjab       31.0         20.0        Yes     NaN     NaN      NaN
5   Blochistan       23.0         30.0        Yes     NaN     NaN      NaN
6          KPK       33.0         10.0        NaN     NaN     NaN      NaN
7       Punjab        5.0          NaN         No     NaN     NaN      NaN
8           GB       34.0         20.0        Yes     NaN     NaN      NaN
9       Punjab       34.0         20.0        Yes     NaN     NaN      NaN
10         NaN        NaN          NaN        NaN     Ali     Yes     28.0
11         NaN        NaN          NaN        NaN  Rashid      No     34.0
12         NaN        NaN          NaN        NaN   Falak      No     33.0
13         NaN        NaN          NaN        NaN  Sohaib     Yes     31.0
14         NaN        NaN          NaN        NaN   Ammar      No     23.0
15         NaN        NaN          NaN        NaN  Tayyab     Yes     33.0
16         NaN        NaN          NaN        NaN  Rashid     Yes     34.0
17         NaN        NaN          NaN        NaN     Ali     Yes     34.0

   Remarks
0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10    Fail
11    Fail
12    Pass
13    Pass
14    Fail
15    Pass
16    Pass
17    Pass

In [19]:
#combining two completly distinct dataframes with pd.concat() method

frames = [sales_data,std_data]
combined_df = pd.concat(frames)
print(combined_df)

         Zone  Tot_Sales  pop_covered Target_Ach    NAME Disable  Sep_Rep  \
0      Punjab       28.0         30.0        Yes     NaN     NaN      NaN
1         KPK       34.0         40.0         No     NaN     NaN      NaN
2       Sindh       33.0         20.0        Yes     NaN     NaN      NaN
3         KPK       10.0          NaN         No     NaN     NaN      NaN
4      Punjab       31.0         20.0        Yes     NaN     NaN      NaN
5  Blochistan       23.0         30.0        Yes     NaN     NaN      NaN
6         KPK       33.0         10.0        NaN     NaN     NaN      NaN
7      Punjab        5.0          NaN         No     NaN     NaN      NaN
8          GB       34.0         20.0        Yes     NaN     NaN      NaN
9      Punjab       34.0         20.0        Yes     NaN     NaN      NaN
0         NaN        NaN          NaN        NaN     Ali     Yes     28.0
1         NaN        NaN          NaN        NaN  Rashid      No     34.0
2         NaN        NaN          NaN        NaN   Falak      No     33.0
3         NaN        NaN          NaN        NaN  Sohaib     Yes     31.0
4         NaN        NaN          NaN        NaN   Ammar      No     23.0
5         NaN        NaN          NaN        NaN  Tayyab     Yes     33.0
6         NaN        NaN          NaN        NaN  Rashid     Yes     34.0
7         NaN        NaN          NaN        NaN     Ali     Yes     34.0

  Remarks
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
0    Fail
1    Fail
2    Pass
3    Pass
4    Fail
5    Pass
6    Pass
7    Pass

In [20]:
#Easy Example of pd.concat and append()

df_1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']},
                      index=[0, 1, 2, 3])

df_2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                  'B': ['B4', 'B5', 'B6', 'B7'],
                  'C': ['C4', 'C5', 'C6', 'C7'],
                  'D': ['D4', 'D5', 'D6', 'D7']},
                 index=[4, 5, 6, 7])

df_3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                 'B': ['B8', 'B9', 'B10', 'B11'],
                 'C': ['C8', 'C9', 'C10', 'C11'],
                 'D': ['D8', 'D9', 'D10', 'D11']},
                  index=[8, 9, 10, 11])

# print(df_1)
# print(df_2)
# print(df_3)

#combining with pd.concat()
# frames = [df_1,df_2,df_3]
# resultant_df = pd.concat(frames)
# print(resultant_df)


#combining wtih .append()
_2_combined_df = df_1.append(df_2)
# print(_2_combined_df)

_3_combined_df = _2_combined_df.append(df_3)
print(_3_combined_df)
print(type(_3_combined_df))

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11
<class 'pandas.core.frame.DataFrame'>

In [21]:
#Just recalling some points about missing data from previous lecture

print(combined_df.head())
print()

print(combined_df.isna())      #checking missing value row wise
print()

print(combined_df.isna().any())  #checking missing values column wise
print()

#counting number of columns contain missing values
print("No. of columns with missing values: ", combined_df.isna().any().count())
print()

print(combined_df.isna().sum())      #counting missing values in each column

     Zone  Tot_Sales  pop_covered Target_Ach NAME Disable  Sep_Rep Remarks
0  Punjab       28.0         30.0        Yes  NaN     NaN      NaN     NaN
1     KPK       34.0         40.0         No  NaN     NaN      NaN     NaN
2   Sindh       33.0         20.0        Yes  NaN     NaN      NaN     NaN
3     KPK       10.0          NaN         No  NaN     NaN      NaN     NaN
4  Punjab       31.0         20.0        Yes  NaN     NaN      NaN     NaN

    Zone  Tot_Sales  pop_covered  Target_Ach   NAME  Disable  Sep_Rep  Remarks
0  False      False        False       False   True     True     True     True
1  False      False        False       False   True     True     True     True
2  False      False        False       False   True     True     True     True
3  False      False         True       False   True     True     True     True
4  False      False        False       False   True     True     True     True
5  False      False        False       False   True     True     True     True
6  False      False        False        True   True     True     True     True
7  False      False         True       False   True     True     True     True
8  False      False        False       False   True     True     True     True
9  False      False        False       False   True     True     True     True
0   True       True         True        True  False    False    False    False
1   True       True         True        True  False    False    False    False
2   True       True         True        True  False    False    False    False
3   True       True         True        True  False    False    False    False
4   True       True         True        True  False    False    False    False
5   True       True         True        True  False    False    False    False
6   True       True         True        True  False    False    False    False
7   True       True         True        True  False    False    False    False

Zone           True
Tot_Sales      True
pop_covered    True
Target_Ach     True
NAME           True
Disable        True
Sep_Rep        True
Remarks        True
dtype: bool

No. of columns with missing values:  8

Zone            8
Tot_Sales       8
pop_covered    10
Target_Ach      9
NAME           10
Disable        10
Sep_Rep        10
Remarks        10
dtype: int64

In [22]:
# combined_df = combined_df.set_index('Zone')     #it is working but gives error because of missing values
# print(combined_df)

In [23]:
#recalling the previous dataframe used before above example
print(combined_df)

         Zone  Tot_Sales  pop_covered Target_Ach    NAME Disable  Sep_Rep  \
0      Punjab       28.0         30.0        Yes     NaN     NaN      NaN
1         KPK       34.0         40.0         No     NaN     NaN      NaN
2       Sindh       33.0         20.0        Yes     NaN     NaN      NaN
3         KPK       10.0          NaN         No     NaN     NaN      NaN
4      Punjab       31.0         20.0        Yes     NaN     NaN      NaN
5  Blochistan       23.0         30.0        Yes     NaN     NaN      NaN
6         KPK       33.0         10.0        NaN     NaN     NaN      NaN
7      Punjab        5.0          NaN         No     NaN     NaN      NaN
8          GB       34.0         20.0        Yes     NaN     NaN      NaN
9      Punjab       34.0         20.0        Yes     NaN     NaN      NaN
0         NaN        NaN          NaN        NaN     Ali     Yes     28.0
1         NaN        NaN          NaN        NaN  Rashid      No     34.0
2         NaN        NaN          NaN        NaN   Falak      No     33.0
3         NaN        NaN          NaN        NaN  Sohaib     Yes     31.0
4         NaN        NaN          NaN        NaN   Ammar      No     23.0
5         NaN        NaN          NaN        NaN  Tayyab     Yes     33.0
6         NaN        NaN          NaN        NaN  Rashid     Yes     34.0
7         NaN        NaN          NaN        NaN     Ali     Yes     34.0

  Remarks
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
0    Fail
1    Fail
2    Pass
3    Pass
4    Fail
5    Pass
6    Pass
7    Pass

In [24]:
# Sorting the indexes and storing in new dataframe
sorted_combined = combined_df.sort_index(level=1)

print(sorted_combined)
# print(sorted_combined['Zone'].count())
# print(sorted_combined['NAME'].count())

         Zone  Tot_Sales  pop_covered Target_Ach    NAME Disable  Sep_Rep  \
0      Punjab       28.0         30.0        Yes     NaN     NaN      NaN
0         NaN        NaN          NaN        NaN     Ali     Yes     28.0
1         KPK       34.0         40.0         No     NaN     NaN      NaN
1         NaN        NaN          NaN        NaN  Rashid      No     34.0
2       Sindh       33.0         20.0        Yes     NaN     NaN      NaN
2         NaN        NaN          NaN        NaN   Falak      No     33.0
3         KPK       10.0          NaN         No     NaN     NaN      NaN
3         NaN        NaN          NaN        NaN  Sohaib     Yes     31.0
4      Punjab       31.0         20.0        Yes     NaN     NaN      NaN
4         NaN        NaN          NaN        NaN   Ammar      No     23.0
5  Blochistan       23.0         30.0        Yes     NaN     NaN      NaN
5         NaN        NaN          NaN        NaN  Tayyab     Yes     33.0
6         KPK       33.0         10.0        NaN     NaN     NaN      NaN
6         NaN        NaN          NaN        NaN  Rashid     Yes     34.0
7         NaN        NaN          NaN        NaN     Ali     Yes     34.0
7      Punjab        5.0          NaN         No     NaN     NaN      NaN
8          GB       34.0         20.0        Yes     NaN     NaN      NaN
9      Punjab       34.0         20.0        Yes     NaN     NaN      NaN

  Remarks
0     NaN
0    Fail
1     NaN
1    Fail
2     NaN
2    Pass
3     NaN
3    Pass
4     NaN
4    Fail
5     NaN
5    Pass
6     NaN
6    Pass
7    Pass
7     NaN
8     NaN
9     NaN

In [25]:
#accessibility with repeated indexes
# yahan pr aik mazy ki cheez hony jaa rhi hy, Focus!!!!!!!!!!

print(sorted_combined.iloc[0:4,:])

     Zone  Tot_Sales  pop_covered Target_Ach    NAME Disable  Sep_Rep Remarks
0  Punjab       28.0         30.0        Yes     NaN     NaN      NaN     NaN
0     NaN        NaN          NaN        NaN     Ali     Yes     28.0    Fail
1     KPK       34.0         40.0         No     NaN     NaN      NaN     NaN
1     NaN        NaN          NaN        NaN  Rashid      No     34.0    Fail

print(combined_df)

### Lecture 6
#### Topic 2.3


You'll explore different techniques for merging, and learn about left joins, right joins, inner joins, and outer joins,  as well as when to use which. USE Book1 and Book2 files to work

In [31]:
import pandas as pd

revenue = pd.read_csv('Book1.csv')
manager= pd.read_csv('Book2.csv')

print(revenue)
print()
print(manager)

     city  revenue  branch_id
0  austin      100         10
1  denver       83         20
2  spring        4         30
3  mexico      200         47

     city managers  branch_id
0  austin      tom         10
1  denver      jon         20
2  mexico  charles         47
3  spring    jassy         31

In [32]:
manager['branch'] = manager['city']
print(manager)

     city managers  branch_id  branch
0  austin      tom         10  austin
1  denver      jon         20  denver
2  mexico  charles         47  mexico
3  spring    jassy         31  spring

In [33]:
print(revenue)

     city  revenue  branch_id
0  austin      100         10
1  denver       83         20
2  spring        4         30
3  mexico      200         47

In [37]:
# Merge revenue with managers on 'city': merge_by_city
merge_by_city = pd.merge(revenue, manager, on='city')
print(merge_by_city)


merge_by_city = pd.merge(revenue, manager, on='branch_id')
print(merge_by_city)

     city  revenue  branch_id_x managers  branch_id_y  branch
0  austin      100           10      tom           10  austin
1  denver       83           20      jon           20  denver
2  spring        4           30    jassy           31  spring
3  mexico      200           47  charles           47  mexico
   city_x  revenue  branch_id  city_y managers  branch
0  austin      100         10  austin      tom  austin
1  denver       83         20  denver      jon  denver
2  mexico      200         47  mexico  charles  mexico

In [39]:
###### I have problem in understanding here....

# Merge revenue & managers on 'city' & 'branch': combined
combined = pd.merge(revenue, manager, left_on='city', right_on = 'branch')

print(combined)

   city_x  revenue  branch_id_x  city_y managers  branch_id_y  branch
0  austin      100           10  austin      tom           10  austin
1  denver       83           20  denver      jon           20  denver
2  spring        4           30  spring    jassy           31  spring
3  mexico      200           47  mexico  charles           47  mexico

In [42]:
#Adding new columns in both dataframes
revenue ['state'] = ['TX','CO','IL','CA']

manager['state'] = ['TX','CO','CA','MO']

print(revenue)
print(manager)

combined = pd.merge(revenue,manager, on=['branch_id','city','state'])
#jahan py teeno (branch_id','city','state') main common ho ga wo return kry ga
print(combined)

     city  revenue  branch_id state
0  austin      100         10    TX
1  denver       83         20    CO
2  spring        4         30    IL
3  mexico      200         47    CA
     city managers  branch_id  branch state
0  austin      tom         10  austin    TX
1  denver      jon         20  denver    CO
2  mexico  charles         47  mexico    CA
3  spring    jassy         31  spring    MO
     city  revenue  branch_id state managers  branch
0  austin      100         10    TX      tom  austin
1  denver       83         20    CO      jon  denver
2  mexico      200         47    CA  charles  mexico

In [43]:
print(revenue)
print(manager)

     city  revenue  branch_id state
0  austin      100         10    TX
1  denver       83         20    CO
2  spring        4         30    IL
3  mexico      200         47    CA
     city managers  branch_id  branch state
0  austin      tom         10  austin    TX
1  denver      jon         20  denver    CO
2  mexico  charles         47  mexico    CA
3  spring    jassy         31  spring    MO

In [50]:
## not clear
revenue_and_sales = pd.merge(revenue, manager, how='right', on=['city','state'])
print(revenue_and_sales)

     city  revenue  branch_id_x state managers  branch_id_y  branch
0  austin    100.0         10.0    TX      tom           10  austin
1  denver     83.0         20.0    CO      jon           20  denver
2  mexico    200.0         47.0    CA  charles           47  mexico
3  spring      NaN          NaN    MO    jassy           31  spring

In [51]:
## not clear
revenue_and_sales = pd.merge(manager, revenue, how='left', left_on=['city'], right_on=['state'])
print(revenue_and_sales)

   city_x managers  branch_id_x  branch state_x city_y  revenue  branch_id_y  \
0  austin      tom           10  austin      TX    NaN      NaN          NaN
1  denver      jon           20  denver      CO    NaN      NaN          NaN
2  mexico  charles           47  mexico      CA    NaN      NaN          NaN
3  spring    jassy           31  spring      MO    NaN      NaN          NaN

  state_y
0     NaN
1     NaN
2     NaN
3     NaN

In [56]:
print(revenue)
print(manager)

     city  revenue  branch_id state
0  austin      100         10    TX
1  denver       83         20    CO
2  spring        4         30    IL
3  mexico      200         47    CA
     city managers  branch_id  branch state
0  austin      tom         10  austin    TX
1  denver      jon         20  denver    CO
2  mexico  charles         47  mexico    CA
3  spring    jassy         31  spring    MO

In [65]:
# outer: use union of keys from both frames
combined_outer = pd.merge(revenue, managers, on=['city','branch_id'], how='outer')   

# this one why not filling the valueof state in last line?????????


# combined_outer = pd.merge(revenue, managers, on=['city','state'], how='outer')    #this is not working, why?????
print(combined_outer)

     city  revenue  branch_id state managers
0  austin    100.0         10    TX      tom
1  denver     83.0         20    CO      jon
2  spring      4.0         30    IL      NaN
3  mexico    200.0         47    CA  charles
4  spring      NaN         31   NaN    jassy

In [69]:
# Designed for ordered data like time series data. Optionally perform group-wise merge
# fill_method = 'ffill'  : Interpolation method for data.

ordered_merge = pd.merge_ordered(revenue, manager, fill_method='ffill')
print(ordered_merge)

     city  revenue  branch_id state managers  branch
0  austin      100         10    TX      tom  austin
1  denver       83         20    CO      jon  denver
2  mexico      200         47    CA  charles  mexico
3  spring        4         30    IL  charles  mexico
4  spring        4         31    MO    jassy  spring

In [1]:
# merge.asof ()
# check this function and implement